body {
    font-family: Arial, sans-serif;
    font: size 60px;
    margin: 0;
    padding: 0;
    color: rgb(245, 235, 237);
    background: url('stars-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon img {
    width: 60px;
    height: 60px;
    display: flex;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(41, 112, 227);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.company-info, .location {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 80%;
    text-align: left;
}

.company-info img{
    width: 400px;
    height: 400px;
    margin-right: 20px;
    position: center;
}
.location img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    position: center;
}

.text {
    max-width: 600px;
    
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    width: 80%;
}

.spaceship {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 30%;
}

.spaceship img {
    max-width: 100%;
    height: auto;
}

.spaceship h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.spaceship p {
    font-size: 1.2em;
    margin: 10px 0;
    }

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.video-demo {
    margin: 20px;
    width: 80%;
    text-align: center;
}

video {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}
